// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


html {
  background: $main-bg $noise-bg;
}
body {
  > div {
    > div {
      border-right: none;
    }
  }
  > header {
  background: $main-bg $noise-bg;
  }
}

@media only screen and (min-width: 992px) {
  body { font-size: 1.5em; }
  h1 { font-size: 2.6em; line-height: 1.2em; }
}

a { text-decoration: none;
  &:hover { text-decoration: none; } }